body{
    background-image: url(./images/pixelcut-export.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color:black;
}
.container{
    display:grid;
    place-content: center;
    padding-top:5vh;
    width:60vw;
    margin: auto;
    border-radius:20px;
    color: whitesmoke;
    text-shadow: 2px 2px red;
    /* animation: border 2.5s ease infinite forwards; */
}
input{
    border-radius:5px;
    padding:0.3em;
}
.addBtn{
    /* width:50vw; */
    background-color: red;
    transition:0.6s;
    border:none;
    border-radius:5px;
    padding:0.3em;
    color:aliceblue;
    margin-bottom:4vh;
}
.addBtn:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(237, 47, 47);
}

li{
    padding-top:5px;
    font-size:23px;
}

span {
    font-size:23px;
    color:yellow;
}

/* @keyframes border {
    0%{
        border:solid 2px aliceblue;
    }
    25%{
        border:solid 2px blue;
    }
    50%{
        border:solid 2px purple;
    }
    75%{
        border:solid 2px yellow;
    }
    100%{
        border:solid 2px green;
    }
} */