body{
    background-image: url(./images/pixelcut-export.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container{
    display:flex;
    flex-direction: column;
    place-content: center;
    padding-top:5vh;
    width:50vw;
    margin: auto;
    border-radius:20px;
    color: black;
}

input{
    border-radius:5px;
    padding:0.3em;
}

input::placeholder{
    color:black;
}

.task{
    width:100%;
}

textarea{
    width:100%;
    border-radius:5px;
}

textarea::placeholder{
    color:black;
}
.addBtn{
    /* width:300px; */
    background-color: red;
    transition:0.6s;
    border:none;
    border-radius:5px;
    padding:0.3em;
    color:aliceblue;
    margin-bottom:4vh;
}

.addBtn:hover{
    cursor: pointer;
    color:white;
    background-color: black;
}

.descBtn{
    background-color: red;
    transition:0.6s;
    border:none;
    border-radius:5px;
    color:aliceblue;
}

.descBtn:hover{
    background-color: black;
}

li{
    padding-top:5px;
    font-size:23px;
}

span {
    font-size:23px;
    color:yellow;
    text-shadow: 2px 2px red;
}

 select{
    width: 100%;
    padding:0.3em;
    margin-top:10px;
    border-radius:5px;
    transition: 0.5s;
 }

select:hover{
    cursor: pointer;
    background-color: red;
    color:aliceblue;
} 

/* select option span:hover{
    cursor: pointer; 
}   */

/* animation: border 2.5s ease infinite forwards; */
/* @keyframes border {
    0%{
        border:solid 2px aliceblue;
    }
    25%{
        border:solid 2px blue;
    }
    50%{
        border:solid 2px purple;
    }
    75%{
        border:solid 2px yellow;
    }
    100%{
        border:solid 2px green;
    }
} */